{% extends "base.html" %}

{% block content %}
<h1>Hierarchieanzeige ausgehend von {{ hierarchy[0]["network_id"] }}</h1>
        <h2>{{ hierarchy[0]["title"] }}</h2>
        <!-- <p>Netzwerk-ID: <a href="https://permalink.obvsg.at/{{ hierarchy[0]["network_id"] }}" target="_blank">{{ hierarchy[0]["network_id"] }}</a> </p> -->
        <p>{{ hierarchy[0]["network_id"] }}</p>
        <p>{{ number_of_deps }} abhängige Datensätze:</p>
        <table>
            {% for rec in hierarchy[1:] %}
            <tr class="start_entry">
                <td rowspan="3" style="background-color:{% if rec["has_holdings"] %}#81F781
                    {% elif rec["dep_type"] == "MTM" %}#FF9900;
                    {% else %}#F5A9A9;
                    {% endif %}">
                    {{ rec["numbering"] }}<br/>
                        {% if rec["dep_type"] == "MTM" %}
                            <a href="{{ url_for("hierarchy", acnr=rec["network_id"]) }}" target="_blank">{{ rec["dep_type"] }}</a>
                        {% else %}
                            {{ rec["dep_type"] }}
                        {% endif %}
                    </td>
                    <td colspan="2">{{ rec["title"] }}</td>
                </tr>
                <tr>
                    <!--
                    <td>Erscheinungsdatum: {{ rec["date"] }}</td>
                    <td>Ausgabebezeichnung: {% if rec["edition"] %} {{ rec["edition"] }} {% else %} --- {% endif %}</td>
                    -->
                    <td>{{ rec["date"] }}</td>
                    <td>{% if rec["edition"] %} {{ rec["edition"] }} {% else %} --- {% endif %}</td>
                </tr>
                <tr class="end_entry">
                    <!-- <td>Netzwerk-ID: <a href="https://permalink.obvsg.at/{{ rec["network_id"] }}" target="_blank">{{ rec["network_id"] }}</a></td> -->
                    <td>{{ rec["network_id"] }}</td>
                        {% if rec["has_holdings"] %}
                            <td>Lokaler Bestand vorhanden ({{ session["institution_code"] }}): <b>JA</b> </td>
                        {% else %} 
                            <td>Lokaler Bestand vorhanden ({{ session["institution_code"] }}): <b>NEIN</b> </td>
                        {% endif %}
                </tr>
            {% endfor %}
        </table>

{% endblock %}
